<div class="carousel slide" data-ride="carousel">
  <!--轮播图导航区域-->
  <ol class="carousel-indicators">
    <li class="active">
    </li>
    <li>
    </li>
    <li>
    </li>
  </ol>
  <!--/轮播图导航区域-->
  <!--轮播图片区域-->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1517222105469&di=31f451e7e3cc5697bacc3132aeac7d3a&imgtype=0&src=http%3A%2F%2Fattach.66rpg.com%2Fbbs%2Fattachment%2Fforum%2F201606%2F13%2F175122bdzy3r53yn34e3nr.jpg" alt="carousel" class="slide-image">
    </div>
    <div class="item">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1517816723&di=6c53361f97616f4a7a9da4d16c028169&imgtype=jpg&er=1&src=http%3A%2F%2Fimg4q.duitang.com%2Fuploads%2Fitem%2F201505%2F15%2F20150515093718_XVFSB.jpeg" alt="carousel" class="slide-image">
    </div>
    <div class="item">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1517222191694&di=12a8c9ab0c963fe2a259a51542413b9d&imgtype=0&src=http%3A%2F%2Fd.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F0824ab18972bd4072e62226179899e510eb30980.jpg" alt="carousel" class="slide-image">
    </div>
  </div>
  <!--/轮播图片区域-->
  <!--轮播图控制按钮-->
  <a href="javascript:$('.carousel').carousel('prev')" class="left carousel-control">
    <i class="glyphicon glyphicon-chevron-left">
    </i>
  </a>
  <a href="javascript:$('.carousel').carousel('next')" class="right carousel-control">
    <i class="glyphicon glyphicon-chevron-right">
    </i>
  </a>
  <!--/轮播图控制按钮-->
</div>
